/* Formateo de Estilos por defecto */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}

.formularios{
    align-items: center;
    margin: 27px;
    margin-left: 120px;
    padding: 27px;
    text-align: end;
    font-style: normal;
    font-size: 17px;
    font-family: 'Secular One', sans-serif;
    color: yellow;
    width: 270px;
    height: 200px;
    background-color: purple;
    border-radius: 13px;
    border-color: yellow;
    transition: all 224ms ease 0ms; 
}
.formularios:hover{
    color: purple;
    background-color: yellow;
    border-color: purple;
    transform: translateY(-17px);
}

.parrafos{
    margin: 17px;
    padding: 17px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

.encabezado{
    margin: 17px;
    padding: 17px;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    color: yellow;
}

.draws{
    margin: 17px;
    padding: 17px;
    width: 50%;
    height: 50%;
}

body{
    backdrop-filter: blur(7px);
    background-image: url(https://img.freepik.com/vector-premium/fondo-azul-estrella-cielo-nocturno-estrellado-espacio-purpura-realista-luz-polvo-estrellas-nebulosa-galaxia-vector_751643-166.jpg);
    background-repeat: no-repeat;
    background-size:cover;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}